<div class="portal-accent-bg portal-login-container" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="none">
  <mat-card class="portal-login-card mat-elevation-z"
    fxFlex="100"
    fxFlex.md="80"
    fxFlex.gt-md="60"
    fxLayout.lt-sm="column">
    <mat-card-content
      fxFlex="auto"
      fxFlex.gt-sm="50%"
      fxLayout="column"
      fxLayoutAlign="space-between none"
      class="portal-primary-bg">
      <div>
        <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <img class="portal-login-card__logo" src="assets/images/oxygenna.png"/>
          <h1 i18n>{{ settings.name }}</h1>
        </mat-card-title>
        <div>
          <p i18n>{{ settings.welcome1 }}</p>
          <p i18n>{{ settings.welcome2 }}</p>
        </div>
      </div>
      <a mat-raised-button i18n
        color="accent"
        (click)="register()">
        Create an account
      </a>
    </mat-card-content>
    <mat-card-content
      fxFlex="auto"
      fxFlex.gt-sm="50%"
      fxLayout="column"
      fxLayoutAlign="space-between none">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput [formControl]="loginForm.controls['username']" placeholder="Username" (keyup.enter)="login()">
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            username is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [formControl]="loginForm.controls['password']" placeholder="Password" (keyup.enter)="login()">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            blank passwords are not allowed.
          </mat-error>
        </mat-form-field>
      </form>
      <div fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.lt-md="column">
          <button mat-raised-button i18n
            type="submit"
            fxFlex="50%"
            fxFlex.lt-md="none"
            color="primary"
            (click)="login()"
            [disabled]="!loginForm.valid">
            Login
          </button>
          <a mat-button i18n
            fxFlex="50%"
            fxFlex.lt-md="none"
            (click)="forgotPassword()">
            Forgot Password?
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
