<div class="portal-fileupload-container portal-accent-bg" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="100">
    <div class="portal-fileupload__header" fxLayout="row" >
      <div class="portal-fileupload__header-content" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <h1 i18n>File Upload</h1>
      </div>
    </div>
    <div class="portal-fileupload__content">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Upload File">
              <ng-template mat-tab-label>
                <mat-icon>cloud_upload</mat-icon>Upload Tosca file
              </ng-template>
              <div class="portal-profile-container__content-tab">
                <div class="portal-fileupload__uploader">
                 <strong><a color="accent" (click)="addFileDialog()" cursor> Browse</a></strong> and select files to upload.
                  <input type="file" #file style="display: none" (change)="filesAdded()" multiple />
                  <div fxLayoutAlign='center center' fxLayout='row'>
                    <mat-list class="portal-fileupload-filelist" fxFlex>
                      <mat-list-item *ngFor="let file of files ">
                        <mat-icon>attach_file</mat-icon>
                        <h3 matLine>File name</h3>
                        <p matLine>
                          file content
                        </p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="16px">
                  <a mat-raised-button i18n
                     color="primary"
                     (click)="upload()">
                    Upload
                  </a>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Compose Template">
              <ng-template mat-tab-label>
                <mat-icon>edit</mat-icon>Compose Tosca Template
              </ng-template>
              <div class="portal-profile-container__content-tab">
                <div class="portal-fileupload__editor">
                  <!--<form>-->
                  <!--<mat-form-field>-->
                    <textarea class="ng-valid ng-touched" placeholder="Compose Tosca template"></textarea>
                  <!--</mat-form-field>-->
                  <!--</form>-->
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

