<div class="portal-fileupload-container portal-accent-bg" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="100">
    <div class="portal-fileupload__header" fxLayout="row" >
      <div class="portal-fileupload__header-content" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <h1 i18n>File Upload</h1>
      </div>
    </div>
    <div class="portal-fileupload__content">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Upload File">
              <ng-template mat-tab-label>
                <mat-icon>cloud_upload</mat-icon>Upload Tosca file
              </ng-template>
              <div class="portal-profile-container__content-tab">
                <div class="portal-fileupload__uploader">
                 <strong><a color="accent" (click)="addFileDialog()" cursor> Browse</a></strong> and select files to upload.
                  <input type="file" #file style="display: none" (change)="filesAdded()" multiple />
                  <div fxLayoutAlign='center center' fxLayout='row'>
                    <mat-list class="portal-fileupload-filelist" fxFlex>
                      <mat-list-item *ngFor="let file of files ">
                        <mat-icon>attach_file</mat-icon>
                        <h3 matLine>Filename: {{file.name}}</h3>
                        <mat-progress-bar mode="determinate" color="primary" [value]="progress[file.name]"></mat-progress-bar>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutGap="16px">
                  <a mat-raised-button i18n
                     color="primary"
                     (click)="upload(true)">
                    Upload
                  </a>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Compose Template">
              <ng-template mat-tab-label>
                <mat-icon>edit</mat-icon>Compose Tosca Template
              </ng-template>
              <div class="portal-profile-container__content-tab">
                <div class="portal-fileupload__editor">
                  <form [formGroup]="yamlForm" fxLayout="column" fxLayoutGap="16px">
                  <mat-form-field>
                    <mat-codemirror
                      formControlName="yaml"
                      required
                      [options]="{
                        theme: 'eclipse',
                        mode: 'yaml',
                        indentUnit: 2,
                        tabSize: 2,
                        allowDropFileTypes: ['yml', 'yaml']
                      }"
                      placeholder="Enter YAML">
                    </mat-codemirror>
                    <mat-hint>YAML template</mat-hint>
                  </mat-form-field>
                  </form>
                </div>
                <div fxLayout="column" fxLayoutGap="16px">
                  <a mat-raised-button i18n
                     color="primary"
                     (click)="uploadYml()">
                    Upload
                  </a>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

